# <center>Student Admission Data Analysis</center>

Null Hypothesis:
- GPA doesnt affect the student's rank.  

Alternate Hypothesis:
- GPA affects the student's rank.

### Modules

In [1]:
import pandas as pd
from scipy import stats

In [4]:
df = pd.read_csv("admission.csv")
df.head()

   admit    gre   gpa  rank
0    0.0  380.0  3.61   3.0
1    1.0  660.0  3.67   3.0
2    1.0  800.0  4.00   1.0
3    1.0  640.0  3.19   4.0
4    0.0  520.0  2.93   4.0

In [5]:
df.isnull().sum()

admit    0
gre      0
gpa      0
rank     0
dtype: int64

In [6]:
df.describe()

            admit         gre         gpa       rank
count  400.000000  400.000000  400.000000  400.00000
mean     0.317500  587.700000    3.389900    2.48500
std      0.466087  115.516536    0.380567    0.94446
min      0.000000  220.000000    2.260000    1.00000
25%      0.000000  520.000000    3.130000    2.00000
50%      0.000000  580.000000    3.395000    2.00000
75%      1.000000  660.000000    3.670000    3.00000
max      1.000000  800.000000    4.000000    4.00000

### Que: Perform the independent sample T-test.

In [7]:
stats.ttest_ind(df['gpa'], df['rank'])

Ttest_indResult(statistic=17.773605488192928, pvalue=8.520090911571367e-60)

Since the p-value is less than 0.05, we reject the Null Hypothesis.  
Therefore, GPA affects the student's rank.